{#
/**
 * @file
 * Default theme implementation for the Kiyoh rating module.
 *
 * Available variables:
 * - kiyoh_amount_of_reviews: The amount of given ratings.
 * - kiyoh_company_url: The URL to the token tree page.
 * - kiyoh_company_rating: The rating for the company.
 * - kiyoh_total_rating: The total of the rating.
 * - kiyoh_rate_us_url:  Link to add a review.
 *
 * @see template_preprocess_kiyoh_rating_inline()
 *
 * @ingroup themeable
 */
#}
<a href="{{ kiyoh_company_url }}">{{ kiyoh_company_rating }} / {{ kiyoh_total_rating }}</a>
